.messege-footer {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.messege-footer-arabic {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: row-reverse;
}
.messege-footer > i,
.messege-footer-arabic > i {
  font-size: 40px;
  color: gold;
  cursor: pointer;
}
.messege-footer input,
.messege-footer-arabic input {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 2px solid #eee;
  outline: none;
}

.message-footer input:focus,
.message-footer-arabic input:focus {
  border: none;
  outline: none;
}

.send {
  color: chocolate;
}
.file-input-container {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 3px solid gold;
  margin: 0 10px;
}

.file-input-container input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.add-img {
  font-size: 18px;
  color: gold;
}
