.message {
  background-color: #fff;
  padding: 15px;
  width: 250px;
  margin-top: 5px;
  border: 2px solid rgba(183, 255, 0, 0.618);
  border-radius: 15px 1px 15px 15px;
  -webkit-border-radius: 15px 1px 15px 15px;
  -moz-border-radius: 15px 1px 15px 15px;
  -ms-border-radius: 15px 1px 15px 15px;
  -o-border-radius: 15px 1px 15px 15px;
  overflow-wrap: break-word;
}
.message-arabic {
  background-color: #fff;
  padding: 15px;
  width: 250px;
  margin-top: 5px;
  border: 2px solid rgba(183, 255, 0, 0.618);
  border-radius: 1px 15px 15px 15px;
  -webkit-border-radius: 1px 15px 15px 15px;
  -moz-border-radius: 1px 15px 15px 15px;
  -ms-border-radius: 1px 15px 15px 15px;
  -o-border-radius: 1px 15px 15px 15px;
}
.content {
  height: 350px;
  overflow-y: auto;
  padding: 20px 10px;
}
.user-img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}
.user-img-reverse {
  margin-left: 0px;
  margin-right: 10px;
}

.user-messages {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-message {
  width: 250px;
}
