.App {
  position: relative;
  height: 100vh;
}
.chatbot {
  position: absolute;
  left: 5%;
  bottom: 5%;
}
.chatbot-arabic {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.chatbot > i,
.chatbot-arabic > i {
  font-size: 50px;
  cursor: pointer;
  color: gold;
  border-radius: 50%;
  animation: chatbot-Icon infinite 2s ease-in-out;
  -webkit-animation: chatbot-Icon infinite 2s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes chatbot-Icon {
  0% {
    box-shadow: 0px 0px 9px 19px gold;
  }

  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 0px 9px 19px gold;
  }
}
